// Define variables for your color scheme

// For example:
$white: #FFFFFF;
$white_smoke: #F5F7F7;
$blue: #76BED0;
$red_alert: #DD3F4A;
$orange_alert: #FF6542;
$yellow_alert: #FCAB10;
$green_dark: #4C7956;
$green: #68A676;
$green_light: #9EC6A7;
$grey_dark: #424B54;
$grey_medium: #979CA1;
$grey_light: #CBCDD0;
$grey_very_light: #DCDEDF;

