// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(image_path('home-page.jpg'));
}

.banner h1 {
  padding-top: 50px;
  font-size: 38px;
  color: white;
  padding-bottom: 50px;

}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    &:hover {
      opacity: 0.50;
      transition: 100ms;
    }
  }
}

.responsive img {
  display: inline-block;
  width: 100%;
  min-width: 12vw;
  max-width: 50vw;
  height: auto;
  padding: 0px 2px 50px 2px;
}

.btn-right-home {
  color: white;
  padding: 10px 30px;
  margin:10px;
  border-radius: 30px;
  background: $green;
  transition: background 0.3s ease;
  font-size: 20px;
}

.btn-right-home:hover {
   background: $green_dark;
   color: white;
   text-decoration: none;
}
