// Specific CSS for your home-page

.banner {
  height:78vh;
  padding-top: 7%;
  background-size: 100% auto;
  background-position: center;
  background-image: url(image_path('home-page.jpg'));
  // filter: brightness(200%);
  //background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url(image_path('home-page.jpg'));
}

.banner h1 {
  font-size: 30px;
  color: white;
  font-weight: 600;
  padding: 0;
}

.banner p {
  font-size: 19px;
  color: white;
  opacity: 0.95;
  padding: 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    &:hover {
      opacity: 0.50;
      transition: 100ms;
    }
  }
}
