// .imglaferme img {
//   width: 100%;
//   min-width: 205px;
//   max-width: 25vw;
//   height: auto;
//   // max-height: 50vh;
// }

#madame-gazeau {
  width: 100%;
  object-fit: cover;
  max-height: 45vh;
}

#arbre_en_fleurs {
  width: 100%;
  object-fit: cover;
  max-height: 45vh;
}

#ferme-vue-du-ciel {
  height: auto;
  max-height: 50vh;
  max-width: 100%;
}
