<div class="page-title">CLIENTS HOME</div>
<div class="page-title orders-title">
<div class="add-order">
    <%= link_to new_order_path do %>
      <p>Ajouter une commande</p>
      <%= image_tag "add-circle-medium-grey.svg" %>
    <% end %>
  </div>
</div>
