<footer class='page-footer'>
  <div class="container-fluid footercolors">
    <div class="row">
      <!-- <div class="col-xs-12 col-sm-6 col-md-2 lien-footer-green text-center visible-xs pt-4 pb-md-4 offset-md-1 md-2">  -->
        <!-- si 5 colonnes il faut offset md-1 / NB : pb-md-4 crée un padding bottom de 4 à partir de la taille d'écran desktop (md) -->
        <div class="col-xs-12 col-sm-6 col-md-3 lien-footer-green text-center pt-4">
          <a href="/pages/contact">Contact</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 lien-footer-green text-center pt-4 pb-4">
          <a href="/pages/livraison">Modalités<br>de livraison</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 lien-footer-green text-center pt-4 pb-4">
          <a href="/dashboard">Accès<br>administrateur</a>
        </div>
       <!--  <div class="col-xs-12 col-sm-6 col-md-2 text-center pt-4 pb-4 d-sm-none d-md-block">
          L'Orgerie<br>79140 LE PIN
        </div> -->
        <!-- <div class="col-xs-12 col-sm-6 col-md-2 text-center pt-4 pb-4 d-sm-none d-md-block">
          SIRET<br>752 349 472 00023
        </div> -->
        <div class="col-xs-12 col-sm-6 col-md-3 text-center pb-4">
          <%= image_tag "logo-goutsdfruits.png", id: 'logo-goutsdfruits' %>
        </div>
       <!--  <div class="col-xs-12 col-sm-6 col-md-2 lien-footer-green text-center visible-xs pt-4 pb-md-4">
          <a href="/pages/mentionslegales">Mentions<br>légales</a> -->
        <!-- </div> -->
    </div>
  </div>
</footer>
