<div class="footer">
  <div class="text-center">
    L'Orgerie<br>79140 LE PIN
  </div>
  <div class="text-center">
    SIRET<br>752 349 472 00023
  </div>
  <div class="lien-footer text-center">
    <a href="/pages/mentionslegales">Mentions<br>légales</a>
  </div>
  <div class="lien-footer text-center">
    <a href="/dashboard">Accès<br>administrateur</a>
  </div>
</div>

