<div class="page-title">Clients
  <div class="add-new">
    <%= link_to new_client_path do %>
      <p>Ajouter un nouveau client</p>
      <%= image_tag "add-circle.svg" %>
    <% end %>
  </div>
</div>
