<!-- <div class="full-page-width"> -->

<div class="banner">
<%= image_tag "LogoFarmManager", class: "logo" %>
  <div class="container h-10">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="m-5">Passez plus de temps à cultiver vos produits <br/>et moins sur votre ordinateur !</h1>
        <a class="btn-left-home m-2" href="/products">C'est parti</a>
        <a class="btn-right-home m-2" href="/products">Faire un essai</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 d-flex align-items-center justify-content-center p-5">
          <h1> CATCH LINE </h1>
        </div>
        <div class="col-lg-6 text-center p-5">
          <img src="https://picsum.photos/seed/picsum/450/250" alt="random picture">
        </div>
    </div>
</div>

<div class="full-page-width bgcolor">
<div class="container bgcolor">
    <div class="row justify-content-center p-5">
        <div class="col-lg-6 text-center">
          <img src="https://picsum.photos/seed/picsum/450/250" alt="random picture">
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-center p-5">
          <h1> CATCH LINE </h1>
        </div>
    </div>
</div>
</div>

<div class="container ">
    <div class="row justify-content-center p-5">
        <div class="testimonial col-lg-4 text-center align-items-center justify-content-center">
          <%= image_tag "avatarPaulResized", class: "avatar-large" %>
          <h2 class="m-2 p-2"> Paul </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla neque, suscipit quisquam ipsam autem, saepe excepturi error blanditiis facere porro expedita corrupti, architecto, praesentium recusandae adipisci officia quae fugit aut. </p>
        </div>
        <div class="testimonial col-lg-4 text-center align-items-center justify-content-center">
          <%= image_tag "avatarCarolineResized", class: "avatar-large" %>
          <h2 class="m-2 p-2"> Caroline </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla neque, suscipit quisquam ipsam autem, saepe excepturi error blanditiis facere porro expedita corrupti, architecto, praesentium recusandae adipisci officia quae fugit aut. </p>
        </div>
        <div class="testimonial col-lg-4 text-center align-items-center justify-content-center">
          <%= image_tag "madame-gazeau.jpg", class: "avatar-large" %>
          <h2 class="m-2 p-2"> Caroline </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla neque, suscipit quisquam ipsam autem, saepe excepturi error blanditiis facere porro expedita corrupti, architecto, praesentium recusandae adipisci officia quae fugit aut. </p>
        </div>
    </div>
</div>



