<div class="container-fluid pxstatic">
  <div class="page-title-static text-center pt-5 pb-5">Marie Gazeau et son verger bio</div>
  <div class="row">
    <div class="imglaferme col-xs-12 col-md-4 pt-4 pb-5">
      <%= image_tag "madame-gazeau.jpg", :class => "mx-auto d-block" %>
    </div>
    <div class="col-xs-12 col-md-8">
      <h2 class="pt-4 pb-4 text-center">Devenir paysanne pour prendre soin des arbres</h2>
      <p class="pb-4">Depuis toujours attirée par le monde rural, c’est au cours d’un stage que j’ai découvert le dynamisme du monde paysan en Nord Deux-Sèvres. Il était possible de vivre du métier de paysan en imaginant des systèmes de production économes et autonomes. A travers diverses expériences professionnelles en tant qu’animatice puis formatrice, j’ai ensuite appris à connaître les différentes filières de productions agricoles. Et puis j’ai rencontré les arbres, le rythme de vie d’un verger et le besoin urgent de trouver des alternatives aux systèmes de productions actuels. Pour m’épanouir dans un métier en phase avec mon style de vie et mon tempérament, j’ai alors décidé de devenir arboricultrice. Grâce l’aide d’une trentaine de copains, nous avons planté fin 2012 près de 500 arbres de différentes espèces fruitières...</p>
      <h2 class="pt-4 pb-4 text-center">Inventer les vergers de demain</h2>
      <p class="pb-2">Il a ensuite fallu attendre 5 ans pour voir les premiers fruits arriver. Ce délai m’a permis de me former, pas à pas, à l’élevage des arbres... qui est devenu une véritable passion. J’ai rencontré des personnalités pleines de convictions et de connaissances sur le fonctionement des végétaux pour constuire l’arboriculture de demain. Le Verger Conservatoire d’Aquitaine, Le Chant des Arbres à Manosque et plus localement les Croqueurs de pommes des Deux Sèvres, le Civam du Haut Bocage et la Confédération Paysanne m’ont donné un réseau et des outils pour construire ma propre ferme.</p>
      <p class="pb-2">Officiellement agricultrice depuis le premier janvier 2018, les arbres et arbustes entrent petit à petit en production. Pour vivre de mon métier, valoriser tous les fruits de la ferme, et trouver un équilibre dans mon travail, j’ai décidé de proposer, en plus des fruits frais, une gamme de produits transformés ainsi que des arbres fruitiers, le tout en vente directe au consommateur.</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <h2 class="pt-4 pb-4 text-center">Une multitude de fruits</h2>
      <p>La ferme de 2,5 ha produit une grande diversité de fruits : pommes, poires, pêches, cerises, prunes, coings, mais aussi raisin de table, noisettes, rhubarbe, et bien sûr framboises, cassis, groseilles et fraises, ainsi que quelques cueillettes de fleurs de sureau. Une cuisine aux normes a été construite pour pouvoir proposer au fil des saisons des gelées, sirops, compotes, coulis, fruits déshydratés, fruits au sirop, sorbets, pâtes de fruits et gâteaux. Et la petite nouveauté de l’année est la mise en place d’une pépinière d’arbres et arbustes fruitiers.</p>
    </div>
    <div class="col-xs-12 col-md-5">
      <h2 class="pt-4 pb-4 text-center">Dans une pratique inspirée par la permaculture</h2>
      <p>Le verger intègre différents écosystèmes comme des haies, des zones humides, des zones plus sèches... Grâce à quelques aménagements, une large place est faite à l’accueil d’une faune collaboratrice : coccinelles, grenouilles, chauve souris, hérissons, poules de Chalans. L’objectif est de trouver un équilibre entre ravageurs et prédateurs. Des variétés anciennes ont également été choisies pour leur résistance aux maladies.</p>
      <p>Le soin à apporter aux arbres est une source de recherche inépuisable quand on souhaite éviter l’emploi de produits pesticides. Quelques recettes sont empruntées à la biodynamie comme le badigeon à base d’argile qui recouvre les troncs en hiver. Du petit lait bio est pulvérisé sur les feuilles au printemps en lieu et place du traditionnel cuivre, pour limiter les attaques de champignons. J’essaie aussi de trouver des plantes compagnes pour faire grandir mes arbres dans les meilleures conditions possibles.</p>
    </div>
    <div class="imglaferme col-xs-12 col-md-3 pt-4 pb-4">
        <%= image_tag "laferme-vueduciel.jpg", :class => "mx-auto d-block" %>
    </div>
  </div>
</div>
