<div class="container">
  <p class="pt-5">Par défaut, les commandes sont disponibles à la ferme sauf pour les clients AMAP pour lesquels elles sont livrées directement à l'AMAP concernée.</p>
  <p> Vous pouvez changer le lieu de livraison en <a href="/pages/contact">me contactant</a>.<p>
  <p>Vous pouvez en effet également me rencontrer et faire livrer vos commandes sur les différents lieux de livraison suivants : </p>
  <ul>
    <li> le premiers jeudi du mois à l'association de consommateurs les Courts Circuiteurs de Thouars</li>
    <li> le second jeudi du mois aux AMAP Ine Boune Penerie à Moncoutant et le Bocageot à Cerizay</li>
    <li> le troisième jeudi du mois au marché de producteurs de la Gorère à Combrand</li>
    <li> le quatrième jeudi du mois à l'AMAP Asphodèle de Bressuire</li>
    <li> Le second samedi du mois au marché de producteurs de Cerizay sous les Halles</li>
  </ul>
  <p class="pb-5">A bientôt !</p>

</div>


