<div class="container">
  <p class="pt-5">Par défaut, Les commandes sont disponibles à la ferme sauf pour les clients AMAP pour lesquels elles sont livrées directement à l'AMAP concernée.</p>
  <p> Vous pouvez changer le lieu de livraison en <a href="/pages/contact">contactant Marie</a>.<p>
  <p>Vous pouvez en effet me rencontrer et faire livrer vos commandes sur les différents lieux de livraison suivants : </p>
  <p>- le premiers jeudi du mois à l'association de consommateurs les Courts Circuiteurs de Thouars</p>
  <p>- le second jeudi du mois aux AMAP Ine Boune Penerie à Moncoutant et le Bocageot à Cerizay</p>
  <p>- le troisième jeudi du mois au marché de producteurs de la Gorère à Combrand</p>
  <p>- le quatrième jeudi du mois à l'AMAP Asphodèle de Bressuire</p>
  <p>- Le second samedi du mois au marché de producteurs de Cerizay sous les Halles</p>

  <p class="pb-5">A bientôt !</p>

</div>


