<div class="container">
  <h2 class="text-center pt-5 pb-5">Modalités de livraison</h2>
  <div class="light-bold">
    <p>Les commandes passées avant 18h seront disponibles dès le lendemain à l'Orgerie de 10h à 20h.</p>
    <p>Pour les clients membres d'une AMAP, les commandes sont livrées directement à l'AMAP concernée lors de mon prochain passage.</p>
    <p> Vous pouvez décaler votre passage ou changer le lieu de livraison en <a href="/pages/contact">me contactant</a>.<p>
    <!-- <p>Pour le lieu de livraison, vous pouvez en effet également me rencontrer et faire livrer vos commandes sur les différents lieux suivants : </p>
    <ul class="fa-ul">
      <li><span class="fa-li"><i class="fas fa-long-arrow-alt-right grey-bullet-points"></i></span> le premier jeudi du mois à l'association de consommateurs les Courts Circuiteurs de Thouars</li>
      <li><span class="fa-li"><i class="fas fa-long-arrow-alt-right grey-bullet-points"></i></span> le second jeudi du mois aux AMAP Ine Boune Penerie à Moncoutant et le Bocageot à Cerizay</li>
      <li><span class="fa-li"><i class="fas fa-long-arrow-alt-right grey-bullet-points"></i></span> le troisième jeudi du mois au marché de producteurs de la Gorère à Combrand</li>
      <li><span class="fa-li"><i class="fas fa-long-arrow-alt-right grey-bullet-points"></i></span> le quatrième jeudi du mois à l'AMAP Asphodèle de Bressuire</li>
      <li><span class="fa-li"><i class="fas fa-long-arrow-alt-right grey-bullet-points"></i></span> Le second samedi du mois au marché de producteurs de Cerizay sous les Halles</li>
    </ul> -->
    <p>Les commandes sont à régler lors de la livraison.</p>
    <p class="pb-5">A bientôt !</p>
  </div>
</div>


