<h1 class="page-title pb-2">Statistiques</h1>

<div class="stats-data-card-grid">

  <div class="stats-data-card">
    <div class="stats-data-infos">
      <p class="big-text-semi-bold grey-light text-center">Produits phares</p>
    </div>
  </div>

  <div class="stats-data-card" >
    <div class="stats-data-infos">
      <p class="big-text-semi-bold grey-light text-center">Ventes</p>
      <%= image_tag('graphsales.png') %>
    </div>
  </div>

</div>
