<div class="notification-card-grid">

<%# low_stock.each do |low_stock|  %>
<!-- pour l'instant la méthode low_stock ne récupère que le 1er item de l'array (return low_stock_list.first) donc pas besoin d'itérer, une seul carte de notification pour stock bas est générée) -->
  <div class="notification-card background-red-alert">
    <p class="middle-text bold white"><%= low_stock.name.downcase %></p>
    <p class="small-text white">
      <% if low_stock.total_remaining_quantity == 0 %>
        Stock vide !
      <% else %>
        <%= pluralize(low_stock.total_remaining_quantity, low_stock.unit_type) %> en stock seulement !
      <% end %>
    </p>
  </div>
<%# end %>

  <div class="notification-card background-yellow-alert">
    <p class="middle-text bold white"><%= old_stock.product.name.downcase %></p>
    <p class="small-text white">date d'expiration : <%= old_stock.expiry_date.strftime("%B %d, %Y") %></p>
  </div>


</div>
