<h1 class="page-title pb-2">Données mensuelles</h1>

<div class="monthly-data-card-grid">

  <div class="monthly-data-card" >
    <%= image_tag('multiple-actions-add-blue.svg') %>
    <div class="monthly-data-infos" >
      <p class="page-title">12</p>
      <p class="big-text-semi-bold grey-light">Nouveaux clients</p>
    </div>
  </div>

  <div class="monthly-data-card" >
    <%= image_tag('task-list-approve-blue.svg') %>
    <div class="monthly-data-infos" >
      <p class="page-title">23</p>
      <p class="big-text-semi-bold grey-light">Commandes</p>
    </div>
  </div>

  <div class="monthly-data-card" >
    <%= image_tag('task-list-approve-blue.svg') %>
    <div class="monthly-data-infos" >
      <p class="page-title">670</p>
      <p class="big-text-semi-bold grey-light">Nombre de commandes</p>
    </div>
  </div>

  <div class="monthly-data-card" >
    <%= image_tag('shipment-upload-blue.svg') %>
    <div class="monthly-data-infos" >
      <p class="page-title">780</p>
      <p class="big-text-semi-bold grey-light">Valeur stock</p>
    </div>
  </div>

</div>
