<div class="monthly-data-card-grid">
  <div class="monthly-data-card" >
    <%= image_tag('multiple-actions-add.svg') %>
    <div class="monthly-data-infos" >
      <p>TEXT</p>
    </div>
  </div>


  <div class="monthly-data-card" >

    <%= image_tag('task-list-approve-blue.svg') %>

  </div>
  <div class="monthly-data-card" >
    <%= image_tag('task-list-approve-blue.svg') %>

  </div>
  <div class="monthly-data-card" >
    <%= image_tag('shipment-upload.svg') %>


  </div>
</div>
