<div class="dashboard-grid">
  <!-- <div class="div-page-title">
    <%#= image_tag 'calendar-3-light-green.svg' %>
    <p><%#= Date.today %> </p>
  </div> -->
  <div class="dash-div-orders">
    <%= render 'orders' %>
  </div>
  <div class="dash-div-stats"></div>
  <div class="dash-div-notifications">
    <%= render 'notifs' %>
  </div>
  <div class="dash-div-numbers">
    <%= render 'numbers' %>
  </div>
  <div class="dash-div-graphs">
    <%= render 'graphs' %>
  </div>
</div>
