<div class="dashboard-grid">
  <div class="div-page-title">
    <h1>Commandes</h1>
  </div>
  <div class="div-search-bar">
    <h2>Search Bar</h2>
  </div>
  <div class="dash-div-orders">
    <h2>Orders</h2>
  </div>
  <div class="dash-div-stats"></div>
  <div class="dash-div-notifications">
    <h2>Notifs</h2>
  </div>
  <div class="dash-div-numbers">
    <h2>Numbers</h2>
  </div>
  <div class="dash-div-graphs">
    <h2>Graphs</h2>
  </div>
</div>
