.card-product {
  height: 120px;
  background-color: white;
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  object-fit: cover;
}

.card-product-infos {
  display: flex;
  flex-direction: column;
  width:100%;
  padding: 0 16px;
}

// for category and price
.card-product-header {
  display: flex;
  justify-content: space-between;
}

// for remaning stock and link to product_show
.card-product-footer {
  display: flex;
  justify-content: space-between;
}

// for fruit_category
.card-product p {
  font-size: 13px;
  color: $grey_medium;
}

// for price
.card-product h3 {
  font-size: 13px;
  font-weight: 900;
  color: $green;
}

// for name
.card-product h1 {
  font-size: 20px;
  font-weight: 900;
  color: $grey_dark;
}

// for remaining stock
.card-product h2 {
  font-size: 13px;
  font-weight: 900;
  color: $grey_medium;
}

// for edit link
.card-product-footer img {
  width: 20px;
  height: 20px;
  fill: $grey_medium;
}








