.page-title-index {
  color: $grey_dark;
  z-index: 100;
  font-weight: 900;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.client-new-order {
  position : sticky;
  top: 12vh;
  z-index: 100;
  padding-top: 20px;
  background-color: $white_smoke;
}

.product-index-new-order {
  margin: auto;
  // width: 20%;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  // position: sticky;
  // top: 0;
  padding-bottom: -10px;
  p {
    margin-bottom: 0;
    padding-top: 5px;
  }
  input {
    margin-top: 10px;
  }
}


.card-product {
  height: 120px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  // &:hover {
  //   opacity: 0.80;
  //   transition: 200ms;
  //   transform: translate(0px, -2px);
  //   box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.3);
  // }
  // plus de hover car plus de lien sur toute la carte
  // &:hover .card-product-text-line a img {
  // opacity: 1;
  // transition: 200ms;
  // }
}

.card-product img {
  height: 100%;
  width: 120px;
  min-width:120px;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.card-product p {
  margin-bottom: 0;
  margin-left: 0;
}

.card-product-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:100%;
  height:100%;
  padding: 12px;
}

// for category & price / for remaning stock & link to product_show
.card-product-text-line {
  display: flex;
  justify-content: space-between;
}

// for edit link
.card-product-text-line a img {
  width: 20px;
  min-width:20px;
  height: 20px;
  margin-left: 5px;
  fill: $grey_medium;
  opacity: 1;
}

.product-price p {
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  color: $green;
}

// for ordering (not for role admin)
.card-product-order-input {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 10px;
}
