.container.container-orders {
  padding: 0;
  margin-top: 20px;
}

.index-orders {
  // margin: 0 30px;
  .card {
    background-color: white;
  }
}

.add-new.add-new-order {
  padding: 20px 5px;
}

// CARDS --------------------------

.order-card-index-main {
  margin-bottom: 20px;
  // padding: 20px;
}

.order-card-collapsed-index {
  // background-color: $white;
  border: none;
  border-radius: 5px;
  padding-top: 0;
  // padding-bottom: 0;
  // margin: 20px;

  .order-card-header-index {
    padding: 20px;
  }

  .order-card-header-bottom-part-index {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  h1 {
    font-weight: 700;
    font-size: 16px;
  }
  .price-font-index {
    color: $green;
    margin-bottom: 0;
  }
  .name-font-index {
    color: $grey_dark;
    margin-bottom: 0;
  }
  p {
    font-size: 10px;
    font-weight: bold;
    color: $grey_medium;
  }

}

.order-lines-index {
  background-color: $white_smoke;
  border-radius: 5px;
  padding: 0 20px;
  // margin-bottom: 16px;
  .order-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $white_smoke;
    padding-top: 16px;
    padding-bottom: 14px;

    p {
      margin-bottom: 0;
    }
    .product-name {
      font-size: 14px;
      font-weight: bold;
      color: $grey_dark;
    }
    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .separation {
        background-color: $grey_very_light;
        height: 17px;
        width: 1px;
        margin: 0 10px;
        // position: absolute;
        // right: 70px;
      }
      .total-price p {
        font-size: 14px;
        color: $grey_medium;
        font-weight: 900;
      }
      .sup-price {
        top: -.3em;
        font-weight: 500;
      }
    }
  }
}

.order-address-index {
  background-color: $white_smoke;
  border-radius: 5px;
  padding: 20px;
  p {
    margin-bottom: 0;
  }
  .name {
    font-size: 14px;
    font-weight: bold;
    color: $grey_medium;
  }
  .line-address {
    height: 1px;
    background-color: $white_smoke;
    margin: 13px 0 13px 0;
  }
  .address {
    font-size: 14px;
    color: $grey_dark;
    padding-bottom: 6px;
  }
}

// LINE----------------------------------------

.line-order-card-index {
  height: 1px;
  background-color: $grey_light;
  // margin: 0 20px 0 20px;
}


// PICTOS -------------------------------------

.order-card-picto-index {
  display: flex;
  align-items: center;
}

.action-picto-index {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: $grey_very_light;
  // margin-right: 24px;
  // z-index: +1;
  font-size: 16px;
  color: white;
  text-align: center;
  a {
    outline: 0;
    color: $white;
  }
  &:hover {
    background-color: $green_light;
    transition: 0.3s ease;
    a {
      color: $white;
      text-decoration: none;
      transition: 0.3s ease;
    }
  }
  .fa-truck {
    margin: 9px 7px;
  }
  .fa-receipt {
    margin: 9px auto;
  }
}

.waiting-action-index {
  height: 38px;
  width: 38px;
  background-color: $white_smoke;
  border: 4px solid $green_light;
  a {
    outline: 0;
    color: $green_light;
  }
  &:hover {
    background-color: $green_light;
    transition: 0.3s ease;
    a {
      color: white;
      text-decoration: none;
      transition: 0.3s ease;
    }
  }
  .fa-clock {
    font-size: 19px;
    margin: 5px auto;
  }
  .fa-truck {
    margin: 7px auto;
  }
  .fa-receipt {
    margin: 7px 9px;
  }
}

.done-action-index {
  height: 40px;
  width: 40px;
  font-size: 18px;
  background-color: $green;
  &:hover {
    background-color: $green;
    a {
      color: $white;
    }
  }
  .fa-check {
    margin: 9px auto;
    font-size: 22px;
  }
  .fa-shipping-fast {
    margin: 11px auto;
  }
  .fa-euro-sign {
    margin: 9px 15px 9px 11px;
    font-size: 23px;
  }
}

.underline-index {
  height: 2px;
  width: 24px;
  background-color: $grey_very_light;
  // position: absolute;
  // top: 105px;
}

// DELIVERY ---------------------------------

.delivery-index {
  padding: 0 20px;
  p {
    margin-bottom: 0;
    font-size: 12px;
  }
}

// COLLAPSE BUTTON --------------------------

.collapse-btn-index {
  padding-left: 20px;
  .btn-link {
    outline: 0;


  }
  .fas {
    color: $grey_light;
    font-size: 20px;
  }
  button {
    padding: 0;
  }
}


