.card-product {
  height: 120px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.card-product img {
  height: 100%;
  width: 150px;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.card-product-infos {
  display: flex;
  flex-direction: column;
  width:100%;
  height:100%;
  padding: 0 16px;
}

// for category & price / for remaning stock & link to product_show
.card-product-subelement {
  display: flex;
  justify-content: space-between;
}

// for edit link
.card-product-subelement a img {
  width: 20px;
  height: 20px;
  fill: $grey_medium;
}
