.product-show-category {
  color: $blue;
  font-weight: normal;
  font-size: 16px;
}

// used in card product show
.product-show-description {
  color: $grey_medium;
  opacity: 0.8;
  font-weight: light;
  font-size: 16px;
}
