.product-show-category {
  color: $blue;
  font-weight: 600;
  font-size: 16px;
}

// used in card product show
.product-show-description {
  color: $grey_medium;
  opacity: 0.8;
  font-weight: light;
  font-size: 16px;
}

.card-product-show-title {
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
}

.card-product-show {
  background-color: $white;
  display: flex;
  border-radius: 5px;
  margin-top: 200px;
}

.card-product-show-img img{
  width: 350px;
  height: 500px;
  border-radius: 5px 0px 0px 5px;
}

.card-product-show-infos {
  margin-left: 20px;
  margin-top: 20px;
}

.card-product-show-footer{
  display: flex;
  justify-content: space-between;
}
