.order-card-collapsed-dashboard {
  margin-bottom: 20px;
  background-color: $white_smoke;
  border: none;
  border-radius: 5px;
  .order-card-header {
    padding: 18px 18px 0 18px;
  }
  .order-card-header-bottom-part {
    padding: 18px;
  }
  h1 {
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 13px;
  }
  .price-font {
    color: $green;
  }
  .name-font {
    color: $grey_dark;
  }
  p {
    font-size: 12px;
    font-weight: bold;
    color: $grey_medium;
  }
}

// LINE--------------------

.line-order-card {
  height: 1px;
  background-color: $grey_light;
  margin: 0 20px 0 20px;
}


// PICTOS ----------------

.order-card-picto {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: center;
}

.order-card-picto img {
 width: 16px;
 height: 16px;
 margin: 8px auto 0 auto;
 display: block;
}

.action-picto {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: $grey_very_light;
  margin-right: 16px;
  z-index: +1;
}

.waiting-action {
  background-color: $white_smoke;
  border: 4px solid $green_light;
}

.done-action {
  height: 40px;
  width: 40px;
  background-color: $green;
  & img {
    width: 24px;
    height: 24px;
  }
}

.underline {
  height: 2px;
  width: 120px;
  background-color: $grey_light;
  position: absolute;
  bottom: 37px;
}
