.card-product {
  overflow: hidden;
  height: 210px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

// used in product show
.product-show-category {
  color: $blue;
  font-weight: normal;
  font-size: 16px;
}

// used in card product show
.pedescription {
  color: $grey_medium;
  opacity: 0.8;
  font-weight: light;
  font-size: 16px;
}

. {
  color: $grey_medium;
  opacity: 0.8;
  font-weight: light;
  font-size: 16px;
}
