.main-container {
  display: flex;
  padding: 30px 60px 30px 60px;
}

.container-index-filters {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
}

.container-index-products {
  flex: 1;
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
}

.container-show-product {
  flex: 1;
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  grid-gap: 35px;
}

.title-container {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $white_smoke;
}
