.main-container {
  display: flex;
  padding: 30px 40px 0 40px;
}

.container-index-products {
  flex: 1;
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
}

.container-show-product {
  flex: 1;
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  grid-gap: 35px;
}
