.main-container {
  display: flex;
  padding: 0 2rem 2rem 2rem;
}

.container-index-filters {
  display: flex;
  flex-direction: row;
  // padding-bottom: 1rem;
}

.container-index-products {
  flex: 1;
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

@media (min-width: 601px) {
  .container-index-products { grid-template-columns: 1fr 1fr; }
}

@media (min-width: 961px) {
  .container-index-products { grid-template-columns: 1fr 1fr 1fr; }
}
// On affiche 3 produits par ligne sur les desktops, 2 sur les tablettes (et donc 1 si device width < 600px)

.title-container {
  position: sticky;
  top: 12vh;
  z-index: 100;
  background-color: $white_smoke;
  padding: 20px 3rem 20px 3rem;
  display: flex;
  justify-content: space-between;
}


