.footer {
  background: $white;
  color: $grey_dark;
  padding: 1% 0%;
}

.lien-footer {
  a {
    color: $grey_dark;
    text-decoration: none;
    &:hover {
      opacity: 0.50;
      transition: 100ms;
    }
  }
}




