.page-footer {
  height:10vh;
}

.footercolors {
  background: $white;
  color: $grey_dark;
}

.lien-footer {
  a {
    color: $grey_dark;
    text-decoration: none;
    &:hover {
      opacity: 0.50;
      transition: 100ms;
    }
  }
}

.lien-footer-green {
  a {
    color: $green;
    text-decoration: none;
    &:hover {
      opacity: 0.50;
      transition: 100ms;
    }
  }
}
