@media (max-width: 600px) {
  .navbar-collapse.background-white
    {
        background-color:$white;
    }
}
// https://stackoverflow.com/questions/32147082/changing-collapsed-navbar-list-background-color

@media (max-width: 600px){
  #navbarSupportedContent{
    position: absolute;
    top: 12vh;
  }
}
// https://stackoverflow.com/questions/48037100/bootstrap-4-navbar-collapse-issue
// => prevents the bug of the bio logo to be displayed below the dropdown menu when on mobile

.navbartop {
  justify-content: space-between;
  background: $white;
  color: $green;
  height: 12vh;
}

.navbar-collapse {
  flex-grow: 0;
  justify-content: space-between;
  display: flex;
}

#logout-navbartop {
  height: 3vh;
  padding: 0% 1%;
}

#logo-goutsdfruits {
  height: 10vh;
  padding: 0% 1%;
}

#logo-agbio {
  height: 9vh;
  padding: 0% 1%;

}

.lien-navbar {
  color: $green;
  font-size: calc(16px + 0.3vw);
  padding-left: 2vw;
  padding-right: 2vw;
  a {
    color: $green;
    text-decoration: none;
    &:hover {
      opacity: 0.80;
      transition: 100ms;
    }
    &.active {
      color: $green-dark;
      font-weight: semi-bold;
    }
  }
}
