.navbartop {
  justify-content: space-between;
  background: $white;
  color: $green;
}

.navbar-collapse {
  flex-grow: 0;
  justify-content: space-between;
  display: flex;
}

.navbartop img {
  height: auto;
  max-height: 8vh;
  padding: 0% 1%;
}

.lien-navbar {
  color: $green;
  text-decoration: none;
  font-size: 24px;
  padding-left: 30px;
  padding-right: 30px;
  &:hover {
    opacity: 0.80;
    transition: 100ms;
    text-decoration: none;
  }
}

.lien-navbar {
  a {
    color: $green;
    &:hover {
      opacity: 0.80;
      transition: 100ms;
    }
  }
}
