.navbar-goutsdfruits {
  justify-content: space-between;
  background: $green;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 104px;
  display: flex;
  flex-direction: column;
}
.navbar-avatar {
  margin:0 auto;
}


.navbar-goutsdfruits .navbar-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

// .navbar-goutsdfruits .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-goutsdfruits .navbar-brand img {
//   width: 40px;
// }
