.navbar-goutsdfruits {
  justify-content: space-between;
  background: $green;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 104px;
}

.navbar-goutsdfruits .navbar-collapse {
  flex-grow: 0;
}

.navbar-goutsdfruits .navbar-brand img {
  width: 40px;
}
