.new-order {
  margin-top: 72px;


  .new-order-title {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 50px;
  }
  .client-input {
      margin-bottom: 50px;
  }
  .order-line {
    .form-inline {
      justify-content: center;
      .product-input {
        width: 500px;
        margin-bottom: 20px;
        margin-right: 30px;
      }

      .quantity-input {
        margin-bottom: 20px;
      }

    }
  }
}

