.new-order-main-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.new-order {
  // margin-top: 72px;
  width: 750px;
  background-color: white;
  border-radius: 5px;
  padding: 40px 15px 40px 15px;

  .new-order-title {
    text-align: center;
    margin-bottom: 40px;
    p {
      margin-bottom: 0;
    }
  }
  .client-input {
    // background-color: $white_smoke;
    // margin-bottom: 50px;
    // border-radius: 5px;
    display: none;
  }
  .order-line {
    .form-inline {
      justify-content: left;
      width: 750px;
      .product-input {
        // background-color: $white_smoke;
        width: 490px;
        margin-bottom: 20px;
        margin-right: 10px;
        border-radius: 5px;
      }

      .quantity-input {
        // background-color: $white_smoke;
        width: 150px;
        margin-bottom: 20px;
        border-radius: 5px;
      }

      & a {
        display: flex;
        margin-bottom: 20px;
        outline: 0;
        & img {
          margin: 0 5px 0 10px;
          height: 30px;
          width: 30px;
          z-index: 4;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .submit-btn {
    background-color: $green;
    border-radius: 5px;
    color: white;
    margin-top: 50px;
    letter-spacing: 0.1em;
    padding: 10px 0;
    &:hover {
      background-color: $green_dark;
    }
  }




  // PAYMENT SELECTION-------------------------------

  .payment-label {
    margin-top: 50px;
  }

  .payment-choices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  .payment-choice {
    background: $green_light;
    padding: 20px;
    border-radius: 5px;
    flex: 0 0 20%;
    text-align: center;
    p {
      margin-bottom: 0;
      padding-top: 5px;
      font-size: 15px;
      font-weight: bold;
      color: white;
    }
    & label {
      margin-bottom: 0;
    }
    & i {
      font-size: 30px;
      color: white;
    }
    .hidden {
      position: absolute;
      top: 0;
      left: 0;
      width: 140px;
      height: 100px;
      appearance: none;
      margin: 0;


    }
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
    &.active {
    background: $green_dark;
    color: white;
      p {
        color: white;
      }
      &:hover {
        opacity: 1;
      }
    }
  }

}


// SELECT2 STYLE OVERRIDE
.order_client {
  margin-bottom: 30px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.select2-selection__rendered {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  width: 100%
}

.select2-results ul {
  // background-color: $white;
  // border-radius: 5px;
  // box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
  padding: 10px;
  list-style: none;
  margin-bottom: 10px;
  max-height: 300px;
  overflow-y: auto;
  padding-bottom: 20px;
  // overflow: scroll;
  // height: 50px;
  // border: solid 1px $grey_light;
  // transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  li:first-child {
    font-style: italic;
    color: $grey_medium;
    background: none;
  }
}


.select2-search__field {
  border-radius: 5px;
}

.select2-search {
  padding: 4px;
}

.select2-container .select2-selection--single {
  cursor: pointer;
}

.select2-container--open {
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
}

.select2-container--below {
  padding-bottom: 15px;
  background: none;
  box-shadow: none;
}

.select2-results__option--highlighted {
  background-color: $green;
  color: white;
}

.select2-results__option {
  padding-left: 20px;
  padding-right: 20px;
  // padding: 20px;
  // scrollbar-color: yellow blue;
}

// .select2-result {
//   max-height: 200px;
//   overflow-y: auto;
// }
