.stats-data-card-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 60px;

}

.stats-data-card {
  height: 220px;
  background-color: $white;
  display: flex;
  border-radius: 8px;
}

.stats-data-card img {
  height: 60px;
  border-radius: 8px 0 0 8px;
  object-fit: cover;
  align-self: center;
}

.stats-data-infos {
  margin-left: 30px;
  display: flex;
  flex-direction: column; // makes the 2 items listed on a column instead of a row (default)
  height:100%;
  width:100%;
}

.card-best-product {
  border-radius: 0px 8px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white_smoke;
  width: 320px;
  padding-right: 12px;
}

.card-best-product p {
  font-size: 16px;
  font-weight: 700;
  color: $grey-dark;
}

.card-best-product span {
  font-size: 16px;
  font-weight: 700;
  color: $green;
}
