.stats-data-card-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 32px;
  height: 90%;

}

.stats-data-card {
  background-color: $white;
  display: flex;
  border-radius: 8px;
}

.stats-data-card img {
  height: 100%;
  width: 160px;
  border-radius: 8px 0 0 8px;
  object-fit: cover;
  align-self: center;
}

.stats-data-infos {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; // makes the 2 items listed on a column instead of a row (default)

  &.top-products {
    height:100%;
    width:100%;
  }

  &.graph {
    position: relative;
    overflow: hidden;
    padding-right:0px;
    width: 480px;
    height: 400px;
  }
}

.card-best-product {
  border-radius: 0px 8px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between; // à modifier
  background-color: $white_smoke;
  width: 100%;
  height: 30%;
  padding-right: 12px;
  margin-top: 4px;
  margin-bottom: 4px;

}

.card-best-product p {
  font-size: 16px;
  font-weight: 700;
  color: $grey-dark;
}

.card-best-product span {
  font-size: 16px;
  font-weight: 700;
  color: $green;
}
