.filterstick {
 top: 12vh;
}

.submit-btn-green {
    background-color: $green;
    border-radius: 5px;
    width: 100px;
    color: white;
    letter-spacing: 0.1em;
    margin-top: 20px;
    &:hover {
      background-color: $green_dark;
      color: white;
    }
  }

.submit-btn-green-total-width {
    background-color: $green;
    border-radius: 5px;
    width: 40vw;
    color: white;
    letter-spacing: 0.1em;
    margin-top: 20px;
    &:hover {
      background-color: $green_dark;
      color: white;
    }
  }

.page-title-static {
  color: $grey_dark;
  font-weight: 900;
  font-size: 24px;
}

// for all page titles dashboard + monthly data results
.page-title {
  color: $grey_dark;
  z-index: 100;
  font-weight: 900;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding: 40px 0px 40px 60px;
  p {
  margin-bottom: 0;
  }
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color: $blue;
  padding:0;
}
// .add-new {
//   display: flex;
//   align-items: center;
// }
.add-new a {
  display: flex;
  // padding: 20px 0;
  opacity: 1;
  align-items: center;
  p {
    font-size: 16px;
    font-weight: bold;
    color: $blue;
    margin-bottom: 0;
  }
  & img {
    margin-left: 10px;
    height: 18px;
    width: 18px;
  }
  &:hover {
    text-decoration: none;
    opacity: 0.6;
  }
}

.pt40 {
  padding-top: 40px;
}

.pxstatic {
  padding-left: 8vw;
  padding-right: 8vw;
}

.prfilters {
  padding-right: 1vw;
}

.pl5 {
  padding-left: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pb25 {
  padding-bottom: 25px;
}

.pl2rem {
  padding-left: 2rem;
}

.mr5 {
  margin-right: 5px;
}

.nopnom {
  margin: 0;
  padding: 0;
}

.right-header {
  float: right;
}


// used in dashboard (Ex. : Meilleures ventes gourmandises)
.very-small-text {
  font-size: 10px;
}

.small-text {
  font-size: 12px;
}

.small-text-bold {
  font-size: 12px;
  font-weight: bold;
}

.semi-small-text-bold {
  font-size: 14px;
  font-weight: bold;
}

.semi-small-text {
  font-size: 14px;
  font-weight: 400;
}

.middle-text {
  font-size: 16px;
}

.middle-text-resp {
  font-size:calc(12px + 0.2vw);
}

.middle-text-bold {
  font-size: 16px;
  font-weight: bold;
}

.big-text-semi-bold { // non coherent name to change
  font-size: 16px;
  font-weight: 600;
}

.semi-big-text {
  font-size: 18px;
}

.big-text-bold {
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
}

.big-text-bold-resp {
  font-size: calc(13px + 0.2vw);
  font-weight: 800;
  line-height: calc(13px + 0.2vw);
}

.light-bold {
font-weight: 300;
}

.semi-bold {
font-weight: 600;
}

.bold {
font-weight: bold;
}


// colors

.white {
color: $white;
}

.white-smoke {
color: $white_smoke;
}

.blue {
color: $blue;
}

.red-alert {
color: $red_alert;
}

.orange-alert {
color: $orange_alert;
}

.yellow-alert {
color: $yellow_alert;
}

.green-dark {
color: $green_dark;
}

.green {
color: $green;
}

.green-light {
color: $green_light;
}

.grey-dark {
color: $grey_dark;
}

.grey-medium {
color: $grey_medium;
}

.grey-light {
color: $grey_light;
}

.grey-very-light {
color: $grey_very-light;
}
