// for all pages
.page-title {
  color: $grey_dark;
  font-weight: 900;
  font-size: 32px;
}

// used in dashboard (Ex. : Meilleures ventes gourmandises)
.sub-title {
  color: $grey_dark;
  font-weight: 700;
  font-size: 20px;
}

// n° de commande et dates
.small-text-bold {
  font-size: 12px;
  font-weight: bold;
}
