// for all page titles + monthly data results
.page-title {
  color: $grey_dark;
  font-weight: 900;
  font-size: 32px;
}

// used in dashboard (Ex. : Meilleures ventes gourmandises)
.small-text-bold {
  font-size: 12px;
  font-weight: bold;
}

.semi-small-text-bold {
  font-size: 14px;
  font-weight: bold;
}

.semi-small-text {
  font-size: 14px;
  font-weight: 400;
}

.big-text-bold {
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
}

.big-text-semi-bold {
  font-size: 16px;
  font-weight: 600;
}


// colors
.white {
color: $white;
}

.white-smoke {
color: $white_smoke;
}

.blue {
color: $blue;
}

.red-alert {
color: $red_alert;
}

.orange-alert {
color: $orange_alert;
}

.yellow-alert {
color: $yellow_alert;
}

.green-dark {
color: $green_dark;
}

.green {
color: $green;
}

.green-light {
color: $green_light;
}

.grey-dark {
color: $grey_dark;
}

.grey-medium {
color: $grey_medium;
}

.grey-light {
color: $grey_light;
}

.grey-very-light {
color: $grey_very-light;
}
