// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';

// Your CSS partials
@import "components/index";
@import "pages/index";

.page-layout-wrapper {
  width: 100%;
  flex: 1 0 auto; // *
}

html, body {
  height: 100%; // *
}

// https://stackoverflow.com/questions/26402156/put-div-below-navigation-bar-and-dont-overlap-content
body {
  display: flex; // *
  flex-direction: column; // *
  padding-top: 12vh; /*10vh for the height of the navbar + 2vh for the offset*/
}

// *: necessary to make footer stick to bottom
// Cf. https://css-tricks.com/couple-takes-sticky-footer/ flexbox solution

